body {
  font-family: 'Kay Pho Du';
  font-size: 22px;
  border-style: solid;
  border-color: #727D71;
  border-width: 2dvh;
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-image: url("images/coolgreen.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}




@media (min-width: 30em) and (max-width: 50em) {}

@media (30em <=width <=50em) {}

@media (50em >=width >=30em) {}

.pawpal {
  max-width: 350px;
  margin-left: 20%;
  transition: all 0.3s ease;
  text-align: center;
}

.pawpal:hover {
  transform: scale(1.1)
}


.Bioshield {
  max-width: 350px;
  margin-left: 43%;
  margin-top: -45%;
  margin-bottom: 2%;
  transition: all 0.3s ease;
  text-align: center;

}


.Bioshield:hover {
  transform: scale(1.1)
}


.Zoologix {

  max-width: 350px;
  margin-left: 65%;
  margin-top: -89%;
  margin-bottom: 5%;
  transition: all 0.3s ease;
  text-align: center;


}


.Zoologix:hover {
  transform: scale(1.1)
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 10;
}

ul li {
  position: absolute;
  width: 350px;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}



ul li:nth-child(1) {
  left: 20%;
  top: 501px;
  font-size: xx-large;

}


ul li:nth-child(2) {
  left: 43.3%;
  top: 501px;
  font-size: xx-large;
}

ul li:nth-child(3) {
  left: 65%;
  top: 501px;
  font-size: xx-large;
}

.WD {
  margin-left: 85%;
  margin-top: -5%;
  margin-bottom: 5%;

}

.question {
  width: 50px;
  height: auto;
  margin-left: 1%;




}