body {
    font-family: 'Kay Pho Du';
    font-size: 22px;
    background-color: rgb(255, 250, 226);
    border-style: solid;
    border-color: #727D71;
    border-width: 2dvh;
    margin: 0;
}


section1,
section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 60px auto;
    max-width: 1000px;
    margin-bottom: 13.8%;
    text-align: left;
    font-size: larger;
}

button {
    padding: 10px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 95%;
    margin-top: .1%;
    background-color: aliceblue;
}



button:hover {
    transform: scale(1.1);


}

.zoologiz {
    margin-bottom: -45%;



}