body {
    font-family: 'Kay Pho Du';
    font-size: 22px;
    background-color: rgb(255, 250, 226);
    border-style: solid;
    border-color: #727D71;
    border-width: 2dvh;
    margin: 0;
    background-image: url(/images/coolgreen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media (min-width: 30em) and (max-width: 50em) {}

@media (30em <=width <=50em) {}

@media (50em >=width >=30em) {}

h1 {
    text-align: center;
    margin-top: 1%;
    margin-left: 89%;
}

img[src*="images (6) 1.png"] {
    width: 50px;
    height: auto;
}

img[src*="images (6) 1.png"]:hover {
    transform: scale(1.1);
}

article1 img {
    width: 410px;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
    margin-left: 2%;
}

article1 img:hover {
    transform: scale(1.1);
}

article2 img {
    width: 400px;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 0;
    margin-left: 5%;


}

article2 img:hover {
    transform: scale(1.05);
}

.MP {
    font-size: 200%;
    margin-left: 10%;

}

.hobbies {
    font-size: 200%;
    margin-left: 1.9%;
    margin-top: 10px;
}

button {
    padding: 10px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    transform: scale(1.1);
}


.Socials {
    font-size: 190%;
    margin-left: 2%;
    margin-top: -.6%;
}

.Links {
    margin-left: 9.5%;
    margin-top: -4.4%;
    margin-bottom: 5%;
    transition: transform 0.3s ease;

}

.links:hover {
    transform: scale(1.1);
}

button {
    padding: 10px 25px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 95%;
    margin-bottom: -40%;
    background-color: aliceblue;
}

button:hover {
    transform: scale(1.1);
}

.github {
    width: 50px;
    margin-left: 13%;
    margin-top: -7.9%;
    margin-bottom: 3%;
    transition: transform 0.3s ease;
}


button:hover {
    transform: scale(1.1);


}

.Resu{
width: 350px;
height: auto;
  margin-left: 65%;
  margin-top: -200%;
  margin-bottom: 23%;
}

.Resume{
    margin-left: 71%;
    margin-top: -24%;
    margin-bottom: 20.5%;

}