body{
  font-family: 'Kay Pho Du';font-size: 22px;
    background-color: rgb(255, 250, 226);
}



h2 {
text-align: center;
}

section1 {
    font-size: larger;
    text-align: right;
}

section1 img{
    width: 570px;           
    height: auto;
}

.GamGam{
    font-size: 200%;
    margin-right: 29.7%;
    margin-bottom: -1%;
}

.HB1{
    font-size: 147%;
    margin-left: 31%;
    margin-right:32%;
    margin-bottom: -17%;
    text-align: left;
}



section2 {
    font-size: larger;
    text-align: right;
}

section2 img{
    width: 570px;           
    height: auto;
    margin-left: 70%;
}

.Edit{
    font-size: 200%;
    margin-left: 34%;
    margin-bottom: 3%;
}


.HB2{
    font-size: 147%;
    margin-left: 50%;
    margin-right:29%;
    margin-bottom: -17%;
    text-align: right;
}


section3 {
    font-size: larger;
}

section3 img{
    width: 570px;           
    height: auto;
}

.modding{
    font-size: 200%;
    margin-right: 32%;
    margin-bottom: 6%;
}

.HB3{
    font-size: 147%;
    margin-left: 29%;
    margin-right:36%;
    margin-bottom: -14.8%;
    text-align: left;
    margin-top: -4%;
}




button {
    padding: 10px 25px;   
    font-size: 1.1rem;     
    cursor: pointer;       
    border-radius: 8px;    
}

button:hover {
    transform: scale(1.1);
}
