body{
    font-family: 'Kay Pho Du';font-size: 22px;
      background-color: rgb(255, 250, 226);
  }
  
  h1{
    text-align: center;
  }

  h2{
    text-align: center;
  }

  section1 {
    font-size: larger;
    text-align: right;
}

.ITR{
  font-size: 147%;
    margin-left: 31.5%;
    margin-top: 5%;
    text-align: left;
    margin-right: 26%;
    margin-bottom: -2.8%;

}

.YT1{
  font-size: 180%;
  margin-bottom: -4%;
  margin-left: 6%;
}


  section1 img{
    width: 630px;           
    height: auto;
    margin-top: -15%;
}

.YT2{
  font-size: 180%;
  margin-top: 6%;
  margin-right: 13%;
}


.Indies{
  font-size: 147%;
  margin-left: 23%;
  margin-top: -1%;
  text-align: left;
  margin-right: 33%;
  margin-bottom: -17%;
}


section2 {
    font-size: larger;
    text-align: right;
}

section2 img{
    width: 603px;           
    height: auto;
    margin-left: 70%;
}

section3 {
    font-size: larger;
    text-align: right;
}

section3 img{
    margin-top: -50%;
    width: 610px;           
    height: auto;
}

.YT3{
  font-size: 180%;
  margin-left: 5.5%;
}

.BRC{
  font-size: 147%;
    margin-left: 31%;
    margin-top: 0%;
    margin-bottom: -1%;
    text-align: left;
    margin-right: 19%;
}